/*.Toastify__toast {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px;
}

.Toastify__toast--success {
  background-color: #4caf50;
}

.Toastify__toast--error {
  background-color: #f44336;
}

.Toastify__toast--info {
  background-color: #2196f3;
}

.Toastify__toast--warning {
  background-color: #ff9800;
}
*/