@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
}

body,html {
    overflow-x: hidden; 
    margin: 0; 
    padding: 0;
}

.inputNumberNoSpinner::-webkit-outer-spin-button,
.inputNumberNoSpinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputNumberNoSpinner {
  -moz-appearance: textfield;
}